body {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

#north {
    flex: 0 1 auto;
    background: linear-gradient(90deg, black 50%, white 50%);
    width: 100%;
}


#north h1#header-caption {
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-90deg, black 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 4em;
}

.right-header {
    float: right;
    margin: 0;
}

.right-header a{
    color: #909090;
    text-decoration: none;
}

.right-header a:hover {
    background: black;
    color: white;
}

#information-area {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#color-panel {
    display: table-cell;
    width: 300px;
}

#color-canvas{
    background: #262D59;
    margin-top: 6em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

#system-area {
    font-weight: bold;
    font-family: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 0.5em;
    color: black;
    font-size: 2em;
}

#system-label {
    font-size: 1.25em;
}

.weak {
    color: #d0d0d0;
}

#users-area {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

#users-label {
    font-size: 1.25em;
}

#south {
    flex: 5 5 auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    clear: both;
}

table.buttons {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: solid 2px white;
    border-collapse: collapse;
    text-align: center;
}

table.buttons td {
    cursor: pointer;
    border: solid 2px white;
    width: 3em;
}

.dull table.buttons td {
    border-color: #808080;
}

td.selected {
    background: white;
    color: black;
}

.dull td.selected {
    background: #808080;
}

#south dl {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    max-width: 97%;
    margin-right: auto;
    margin-left: auto;
}

#south.dull {
    color: #808080;
}

#south dl dt {
    clear: both;
    float: left;
    margin-right: 1em;
    width: 10%;
    min-width: 5.5em;
    font-weight: bold;
}

#south dl dd {
    width: 90%;
    margin-top: 4px;
    font-weight: bold;
}

.slider {
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 70%;
    border-radius: 0;
    margin-left: 0;
    margin-top: 0.5em;
    margin-right: 1em;
    background: white;
    outline: none;
}

.dull .slider {
    background: gray;
}

.slider::-moz-range-track {
    height: 0;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.centering-wrapper {
    text-align: center;
}

#forward-button {
    font-weight: bold;
    font-size: 1.5em;
    border: solid 2px white;
    padding: 0.1em 0.5em 0.2em 0.5em;
    cursor: pointer;
    background: inherit;
    color: inherit;
}


.dull #forward-button {
    border-color: #808080;
}

#forward-button:active {
    background: white;
    color: black;
}

#progress-canvas {
    flex-grow: 0;
    background: gray;
    height: 3vh;
    width: 100%;
}

#evaluation {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    right: 0;
}
