body {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

#north {
    flex: 1;
    background: linear-gradient(90deg, black 50%, white 50%);
    width: 100%;
    text-align: center;
}


#north h1 {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-90deg, black 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 4em;
}

#information-area {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#color-panel {
    display: table-cell;
    width: 300px;
}

#color-canvas{
    background: #262D59;
    margin-top: 6em;
    margin-bottom: 1.5em;
    margin-right: auto;
    margin-left: auto;
}

#system-area {
    font-weight: bold;
    font-family: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 0.5em;
    color: black;
    font-size: 2em;
}

#system-label {
    font-size: 1.25em;
}

.weak {
    color: #d0d0d0;
}

#users-area {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

#users-label {
    font-size: 1.25em;
}

#south {
    flex: 1;
    margin: 0em 0 1em 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    clear: both;
}

table.buttons {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: solid 2px white;
    border-collapse: collapse;
    text-align: center;
}

table.buttons td {
    cursor: pointer;
    border: solid 2px white;
    width: 3em;
}

td.selected {
    background: white;
    color: black;
}

#south dl {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    max-width: 97%;
    margin-right: auto;
    margin-left: auto;
}

#south dl dt {
    float: left;
    margin-right: 1em;
    width: 10%;
    min-width: 5.5em;
    font-weight: bold;
}

#south dl dd {
    width: 90%;
    margin-top: 4px;
    font-weight: bold;
}

.slider {
    float: left;
    -webkit-appearance: none;
    width: 70%;
    border-radius: 0;
    margin-left: 0;
    margin-top: 4px;
    background: white;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.centering-wrapper {
    text-align: center;
}

#forward-button {
    font-weight: bold;
    font-size: 1.5em;
    border: solid 2px white;
    padding: 0.1em 0.5em 0.2em 0.5em;
    cursor: pointer;
    background: inherit;
    color: inherit;
}

#forward-button:active {
    background: white;
    color: black;
}

footer {
    flex: 1;
}
#progress-canvas {
    background: grey;
    /* margin-top: 1em; */
    height: 20px;
    bottom: 0;
    padding-botton: 0;
    width: 100%;
}
