body {
    background: black;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

#toolbody {
    background: linear-gradient(90deg, black 50%, white 50%);
    width: 100%;
    text-align: center;
}


#toolbody h1 {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-90deg, black 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 4em;
}

#information-area {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#color-panel {
    display: table-cell;
    width: 300px;
}

#color-canvas{
    background: #262D59;
    margin-top: 6em;
    margin-bottom: 1.5em;
    margin-right: auto;
    margin-left: auto;
}

#system-label {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 2.5em;
}

#users-label {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

#input-panels {
    margin: 1em 0 1em 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    clear: both;
}

table.buttons {
    border: solid 2px white;
    border-collapse: collapse;
    text-align: center;
}

table.buttons td {
    cursor: pointer;
    border: solid 2px white;
    width: 3em;
}

td.selected {
    background: white;
    color: black;
}

#input-panels dl dt {
    float: left;
    width: 10%;
    min-width: 5.5em;
    font-weight: bold;
}

#input-panels dl dd {
    width: 90%;
    margin-top: 4px;
    font-weight: bold;
}

.slider {
    float: left;
    -webkit-appearance: none;
    width: 70%;
    border-radius: 0;
    margin-left: 0;
    margin-top: 4px;
    background: white;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    border: 0;
    cursor: pointer;
}

.centering-wrapper {
    text-align: center;
}

#forward-button {
    font-weight: bold;
    font-size: 1.5em;
    border: solid 2px white;
    padding: 0.1em 0.5em 0.2em 0.5em;
    cursor: pointer;
    background: inherit;
    color: inherit;
}

#forward-button:active {
    background: white;
    color: black;
}
